.nav__bar{
    position:fixed;
    top:0;
    padding:20px;
    width:100%;
    height:30px;
    z-index: 100;
    transition: all 0.5s ease-in    ;
}

.nav__black{
    background-color:rgb(56, 56, 56);
}

.nav__content{
    display:flex;
    justify-content: space-between;
}

.nav__logo{
    position:fixed;
    top:10px;
    left:0;
    width: 80px;
    object-fit: contain;
    padding: 20px;
    cursor: pointer;
    

}

.nav__avatar{
    position:fixed;
    cursor: pointer;
    right: 20px;
    width: 30px;
    
}